.cafeteria{
    row-gap: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.cafeteria h1{
    grid-column: 1/-1;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 2rem;
    margin: 0 20px; 
}
.cafeteria hr{
    grid-column: 1/-1;
    border: 1px solid #ff4e00;
    width: 70%;
    margin: 0 auto;
}
.cafeteria h3{
    grid-column: 1/-1;
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 1.5rem;
    margin: 0 20px;
}
.texto-cafeteria1{
    grid-column: 1/-1;
    margin: 0 20px;
    color: #4a4949;
    font-size: 1.2rem;
}
.cafeteria img{
    grid-column: 1/-1;
    margin: 0 auto;
}
.texto-cafeteria2{
    grid-column: 4/6;
    grid-row: 8/9;
    margin: 0 20px;
    color: #4a4949;
    font-size: 1.2rem;
}
.texto-cafeteria2 b{
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 1.5rem;
}
 /* slider */
 .container-cafeteria{
    grid-column: 1/4;
    position: relative;
    max-width:700px;
    max-height: 450px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.slide-cafeteria{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 3000ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.slide-cafeteria img{
    min-width: 700px;
    height: 55%;
}
.item-slide-cafeteria{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
.pagination-cafeteria{
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item-cafeteria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    transition: all 500ms;
}
.pagination-item-cafeteria:hover{
    background: #ff440075;
}
input[id="7"]:checked ~ .slide-cafeteria{
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="7"]:checked ~ .pagination-cafeteria .pagination-item-cafeteria[for="7"]{
    background: #ff4600;
}
input[id="8"]:checked ~ .slide-cafeteria{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="8"]:checked ~ .pagination-cafeteria .pagination-item-cafeteria[for="8"]{
    background: #ff4600;
}
input[id="9"]:checked ~ .slide-cafeteria{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="9"]:checked ~ .pagination-cafeteria .pagination-item-cafeteria[for="9"]{
    background: #ff4600;
}
@keyframes autoplay{
    0%{transform: translate3d(calc(-100% * 0), 0, 0);}
    20%{transform: translate3d(calc(-100% * 0), 0, 0);}
    25%{transform: translate3d(calc(-100% * 1), 0, 0);}
    50%{transform: translate3d(calc(-100% * 1), 0, 0);}
    55%{transform: translate3d(calc(-100% * 2), 0, 0);}
    100%{transform: translate3d(calc(-100% * 2), 0, 0);}
}
@media screen and (max-width:675px){
    .cafeteria > img{
        width: 90%;
    }
    .container-cafeteria{
        grid-column: 1/-1;
    }
    .texto-cafeteria2{
        grid-column: 1/-1;
    }
    .pagination-cafeteria{
        display: none;
    }
}