*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Oleo Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-image: url("../img/fondo.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}
.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
/* Slider */
.container-all{
    grid-column: 1/-1;
    position: relative;
    max-width: 1280px;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 3000ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.slide img{
    min-width: 1280px;
    height: 600px;
    filter: brightness(0.80);
    margin: 0;
}
.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}
.pagination{
    position: absolute;
    bottom: 5px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
    transition: all 500ms;
}
.pagination-item:hover{
    background: #ff440075;
}
input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}
input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #ff4600;
}
input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #ff4600;
}
input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #ff4600;
}
@keyframes autoplay{
    0%{transform: translate3d(calc(-100% * 0), 0, 0);}
    20%{transform: translate3d(calc(-100% * 0), 0, 0);}
    25%{transform: translate3d(calc(-100% * 1), 0, 0);}
    50%{transform: translate3d(calc(-100% * 1), 0, 0);}
    55%{transform: translate3d(calc(-100% * 2), 0, 0);}
    100%{transform: translate3d(calc(-100% * 2), 0, 0);}
}
/* Header */
.contacto-header{
    grid-column: 3/6;
    position: absolute;
    top: 0px;
    color: white;
    display: flex;
    z-index: 100;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30px;
}
.contacto-header label{
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px black;
}
.contacto-header a{
    text-shadow: 1px 1px 1px black;
    font-size: 1.1rem;
    color: white;
    transition: all 900ms;
}
.contacto-header a:hover{
    color: #ff4600;
}
header nav{
    height: 70px;
    background: #111111;
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
    width: 100%;
    top: 30px;
    position: absolute;
    border: 2px solid rgba(255, 68, 0, 0.23);
    background-color: rgba(81, 189, 231, 0.23);
}
.icono{
    display: none;
}
.enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enlaces a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    margin: 0 20px;
}
.enlaces a:hover, .active{
    color: #ff4600;
}
.enlaces a:active, .active{
    color: #ffffff;
}
.logo-texto-header{
    grid-column: 1/-1;
    position: absolute;
    top: 115px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 5;
}
.logo-texto-header img{
    width: 250px;
    margin-bottom: 0px;
    display: block;
    margin: 0 auto;
}
.logo-texto-header :nth-child(2){/*p*/
    font-size: 2rem;
    font-family: 'Oleo Script', cursive;
    margin-bottom: 35px;
    text-shadow: 1px 1px 1px black; 
}
.logo-texto-header :nth-child(3){/*p*/
    display: block;
    margin: 0 auto;
    width: 70%;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 35px;
}
.logo-texto-header a{
    display: block;
    width: 25%;
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid rgba(255, 68, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 500ms;
}
.logo-texto-header a:hover{
    border: 2px solid rgba(255, 68, 0, 1);
    background-color: rgba(0, 0, 0, 1);;
}
section{
    max-width: 1280px;
    background-color: rgba(143, 218, 234, 0.85);
    margin: 0 auto;
}
/* section 1 */
.gris-0{
    padding-bottom: 25px;
}
.titulo-huerta{
    grid-column: 1/-1;
    grid-row: 1/2;
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.titulo-huerta h1{
    margin-top: 10px;
}
.titulo-huerta hr{
    border: 1px solid #ff4e00;
    width: 70%;
    margin: 0 auto;
}
.texto-huerta{
    grid-column: 1/4;
    padding: 0 20px;
}
.texto-huerta h4{
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.texto-huerta h5{
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.texto-huerta p{
    color: #4a4949;
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.img-huerta{
    grid-column: 4/6;
    width: 90%;
    margin: 0 auto;
}
/* section 2 */
.gris-1{
    background-color: #eeeeee;
    padding: 25px 0;
}
[class^="art-"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.art-1{
    grid-column: 1/3;
}
.art-2{
    grid-column: 3/4;
}
.art-3{
    grid-column: 4/6;
}
img{
    margin-bottom: 25px;
}
[class^="art-"] h3{
    font-family: 'Oleo Script', cursive;
    font-size: 1.5rem;
    color: #4a4949;
}
[class^="art-"] p{
    margin: 20px 0;
    color: #4a4949;
    font-size: 1.2rem;
}
.art-1 p{
    width: 50%;
}
.art-3 p{
    width: 50%;
}
.gris-1 a{
    display: block;
    width: 25%;
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid rgba(255, 68, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 500ms;
    grid-row: 2/3;
    text-align: center;
}
.gris-1 a:hover{
    border: 2px solid rgba(255, 68, 0, 1);
    background-color: rgba(0, 0, 0, 1);;
}
#ver1{
    grid-column: 1/3;
}
#ver2{
    grid-column: 3/4;
}
#ver3{
    grid-column: 4/6;
}
/* section 3 */
.gridslider{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    
}
.slider2{
    grid-column: 1/-1;
    position: relative;
    max-width: 1280px;
    overflow: hidden;
    background-color: #dbdbdb;
}
.contenidoslider{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 3000ms;
    animation-name: autoplay;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.item-slide img{
    grid-column: 1/3;
    width: 100%;
}
 input[id="4"]:checked ~ .contenidoslider{
    animation: none;
    transform: translate3d(0, 0, 0);
}
 input[id="4"]:checked ~ .pagination .pagination-item[for="4"]{
    background: #ff4600;
}
 input[id="5"]:checked ~ .contenidoslider{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}
 input[id="5"]:checked ~ .pagination .pagination-item[for="5"]{
    background: #ff4600;
}
 input[id="6"]:checked ~ .contenidoslider{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}
 input[id="6"]:checked ~ .pagination .pagination-item[for="6"]{
    background: #ff4600;
}
.info{
    grid-column: 3/6;
}
.titulo-slider{
    width: 100%;
    margin: 25px 0;
    text-align: center;
    color: #4a4949;
    font-family: 'Oleo Script', cursive;
    font-size: 1.5rem;
}
.parrafo-slider{
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    color: #4a4949;
    font-size: 1.2rem;
}
.boton-slider{
    grid-column: 3/6;
    display: block;
    width: 25%;
    min-width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid rgba(255, 68, 0, 0.50);
    background-color: rgba(0, 0, 0, 0.50);
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 500ms;
    text-align: center;
    margin-bottom: 25px;
}
.boton-slider:hover{
    border: 2px solid rgba(255, 68, 0, 1);
    background-color: rgba(0, 0, 0, 1);;
}
/* footer */
.gris-3{
    background-color: #7cd7f0;
}
.gris-3 img{
    grid-column:4/5;
    width: 150px;
    margin: auto auto;
}
.contacto-footer{
    grid-column: 2/3;
    margin: 0 15px;
}
.contacto-footer h2{
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 15px 0;
}
.contacto-footer p{
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.contacto-footer p label{
    color:  #4a4949;
}
.redes-footer{
    grid-column: 3/4;
    text-align: center;
}
.redes-footer h2{
    font-family: 'Oleo Script', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 15px 0;
}
.redes-footer i{
    font-size: 4rem;
    color: white;
    margin: 0 20px;
    transition: all 900ms;
}
.redes-footer i:hover{
    color: #ff4600;
}
.Derechos-footer{
    grid-column: 1/-1;
    grid-row: 2/3;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    margin-top: 25px;
}
.Derechos-footer font{
    color: white;
    font-size: 0.8rem;
    display: block;
    width: 90%;
    margin: 0 auto;
}
.Derechos-footer img{
    width: 50px;
}
/* 768px */
@media screen and (max-width:800px){
    /* header */
    .pagination{
        display: none;
    }
    .contacto-header{
        display: none;
    }
    header nav{
        top: 0px;
    }
    /* section 2 */
    .art-1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .art-2{
        grid-column: 2/5;
        grid-row: 3/4;
    }
    .art-3{
        grid-column: 4/6;
        grid-row: 1/2;
    }
    .art-1 p{
        width: 90%;
    }
    .art-2 p{
        width: 75%;
    }
    .art-3 p{
        width: 90%;
    }
    #ver1{
        grid-column: 1/3;
    }
    #ver2{
        grid-column: 2/5;
        grid-row: 4/5;
    }
    #ver3{
        grid-column: 4/6;
    }
    /* section 3 */
    .item-slide img{
        grid-column: 1/4;
        width: 100%;
    }
    .info{
        grid-column: 4/6;
    }
    .parrafo-slider{
        width: 90%;
        font-size: 1rem;
    }
    /* footer */
    .contacto-footer{
        grid-column: 1/3;
    }
    .gris-3 img{
        grid-column:3/4;
        grid-row: 1/2;
    }
    .redes-footer{
        grid-column: 4/6;
        text-align: center;
    }
}
/* 620px */
@media screen and (max-width:675px){
    /* menu */
    header nav{
        border: none;
        background-color: rgba(0, 0, 0, 0);
        top: 0px;
    }
    .icono{
        display: flex;
        color: #ff4600;
        background: transparent;
        z-index: 100;
        cursor: pointer;
        position: absolute;
        left: 0px;
        padding: 10px 15px;
        border: 2px solid rgba(255, 68, 0, 0.651);
        background-color: rgba(0, 0, 0, 0.432);
    }
    .enlaces a{
        margin-bottom: 20px;
    }
    .enlaces{
        position: absolute;
        z-index: 99;
        height: 300px;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        background: #ff4400b7;
        background: -webkit-linear-gradient(to left, #ff4400b7, #240b36);
        background: linear-gradient(to left, #ff4400b7, #240b36);
    }
    .uno{
        -webkit-clip-path: circle(0% at 100% 0%);
        clip-path: circle(0% at 100% 0%);
    }
    .dos{
        -webkit-clip-path: circle(150% at 100% 0%);
        clip-path: circle(150% at 100% 0%);
    }
    /* header */
    .contacto-header{
        display: flex;
        grid-column: 2/6;
        z-index: 99;
    }
    .contacto-header label, i{
        font-size: 80%;
    }
    .logo-texto-header{
        top: 100px;
    }
    .logo-texto-header :nth-child(2){/*p*/
        display: none;
    }
    .logo-texto-header :nth-child(3){/*p*/
        display: none;
    }
    .logo-texto-header a{
        display: none;
    }
    .slide img{
        max-height: 450px;
    }
    /* section 1 */
    .img-huerta{
        grid-column: 1/6;
        grid-row: 2/3;
        margin-bottom: 25px;
    }
    .texto-huerta{
        grid-column: 1/6;
    }
    /* section 2 */
    .gris-1{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .art-1{
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    #ver1{
        grid-column: 1/-1;
        grid-row: 2/3;
    }
    .art-2{
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    #ver2{
        grid-column: 1/-1;
        grid-row: 4/5;
    }
    .art-3{
        grid-column: 1/-1;
        grid-row: 5/6;
    }
    #ver3{
        grid-column: 1/-1;
        grid-row: 6/7;
    }
    .art-2 p{
        width: 90%;
    }
    [class^="art-"]{
        margin-top: 10px;
    }
    /* section 3 */
    .item-slide img{
        grid-column: 1/6;
        width: 100%;
    }
    .info{
        grid-column: 1/6;
    }
    .parrafo-slider{
        width: 90%;
        font-size: 1rem;
    }
    /* footer */
    .contacto-footer{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .contacto-footer p{
        font-size: 0.9rem;
    }
    .redes-footer{
        grid-column: 4/6;
    }
    .redes-footer i{
        font-size: 3rem;
    }
    .gris-3 img{
        grid-column: 1/6;
        grid-row: 3/4;
    }
    .Derechos-footer{
        grid-column: 1/6;
        grid-row: 4/5;
    }
}   