
/* section 1 */
.nosotros{
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nosotros h1{
    grid-column: 1/-1;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 2rem;
    margin: 0 20px; 
}
.nosotros hr{
    grid-column: 1/-1;
    border: 1px solid #ff4e00;
    width: 70%;
    margin: 0 auto;
}
.nosotros p{
    grid-column: 1/-1;
    margin: 0 20px;
    color: #4a4949;
    font-size: 1.2rem;
}
/* section 2 */
.profecionales{
    row-gap: 30px;
    padding-bottom: 30px;
}
.profecionales h1{
    grid-column: 1/-1;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 2rem;
    margin: 0 20px; 
}
.profecionales img{
    width: 90%;
    margin: auto auto;
    box-shadow: 0px 0px 10px rgb(128, 127, 127);
    border-radius: 100%;
}
.profecionales p b{
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 1.9rem;
}
.profecionales p{
    margin: auto 20px;
    color:  #4a4949;
    font-size: 1.2rem;  
}
.profecionales hr{
    grid-column: 1/-1;
    border: 1px solid #ff4e00;
    width: 70%;
    margin: 0 auto;
}
.texto-pro-0{
    grid-column: 1/6;
}
.profecional-1{
    grid-column: 1/3;
}
.texto-pro-1{
    grid-column: 3/6;
}
.profecional-2{
    grid-column: 4/6;
}
.texto-pro-2{
    grid-column: 1/4;
    grid-row: 6/7;
}
.profecional-3{
    grid-column: 1/3;
}
.texto-pro-3{
    grid-column: 3/6;
}
@media screen and (max-width:675px){
    .profecional-1{
        grid-column: 1/-1;
    }
    .texto-pro-1{
        grid-column: 1/-1;
    }
    .profecional-2{
        grid-column: 1/-1;
    }
    .texto-pro-2{
        grid-column: 1/-1;
        grid-row: 8/9;
    }
    .profecional-3{
        grid-column: 1/-1;
    }
    .texto-pro-3{
        grid-column: 1/-1;
    }
}