/* section 1 */
.contacto{
    padding: 30px 0;
    row-gap: 30px;
}
.contacto hr, .formularios hr, .curso hr{
    grid-column: 1/-1;
    border: 1px solid #ff4e00;
    width: 70%;
    margin: 0 auto;
}
.contacto h1, .formularios h1, .curso h1{
    grid-column: 1/-1;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 2rem;
    margin: 0 20px; 
}
.contacto iframe{
    grid-column: 3/6;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ff4e00;
}
.datos-c{
    grid-column: 1/-1;
    text-align: center;
}
.datos-c p{
    margin-bottom: 20px;
    font-family: 'Oleo Script', cursive;
    font-size: 1.6rem;
}
.datos-c p label{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #4a4949;
}
/* section 2 */
.formularios{
    padding: 30px 0;
    row-gap: 30px;
}
.formulario{
    grid-column: 1/6;
    row-gap: 30px;
}
.formularios p, .curso p{
    grid-column: 1/-1;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 90%;
    margin: 0 auto;
}
.formulario label, .curso label{
    grid-column: 1/2;
    text-align: right;
    font-size: 1.6rem;
    font-family: 'Oleo Script', cursive;
}
.formulario input, .curso input{
    grid-column: 2/6;
    width: 90%;
    padding: 0 20px;
    margin: 0 auto;
    border: none;
    border: 1px solid #ff4e00;
    border-radius: 5px;
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.formulario input:focus, .curso input:focus {
    border: 1px solid #275001;
    background-color:white;
}
.formulario textarea{
    grid-column: 2/6;
    width: 90%;
    padding: 0 20px;
    margin: 0 auto;
    border: none;
    border: 1px solid #ff4e00;
    border-radius: 5px;
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}
.formulario textarea:focus {
    border: 1px solid #275001;
    background-color:white;
}
.formulario #enviar-1{
    grid-column: 1/6;
    width: 10%;
    padding: 10px 10px;
    margin: 0 auto;
    border: none;
    border: 1px solid #ff4e00;
    border-radius: 5px;
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}
.formulario #enviar-1:hover{
    background-color: black;
    color: white;
    transition: all 900ms;
}
/* section 3 */
.curso{
    row-gap: 30px;
    padding-bottom: 30px;
}
.correo{
    grid-column: 1/-1;
    row-gap: 30px;
}
.curso #enviar-2{
    grid-column: 1/6;
    width: 10%;
    padding: 10px 10px;
    margin: 0 auto;
    border: none;
    border: 1px solid #ff4e00;
    border-radius: 5px;
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
}
.curso #enviar-2:hover{
    background-color: black;
    color: white;
    transition: all 900ms;
}
@media screen and (max-width:675px){
    /* section 1 */
    .contacto iframe{
        grid-column: 1/6;
    }
    .datos-c{
        grid-column: 1/6;
    }   
    /* section 2 */
    .formulario label, .curso label{
        grid-column: 1/6;
        text-align: center;
    }
    .formulario input, .curso input{
        grid-column: 1/6;
        width: 70%;
    }
    .formulario textarea{
        grid-column: 1/6;
        width: 70%;
    }
    .formulario #enviar-1{
        grid-column: 1/6;
    }
    /* section 2 */
    .formulario #enviar-1{
        width: 100%;
    }
    .curso #enviar-2{
        width: 30%;
    }
}