.grid > h1{
    grid-column: 1/-1;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 2rem;
    margin: 0 20px; 
}
.grid > h3{
    grid-column: 1/-1;
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 1.8rem;
    margin-left: 20px;
}
.grid > hr{
    grid-column: 1/-1;
    border: 1px solid #ff4e00;
    width: 70%;
    margin: 0 auto;
}
.sub{
    border: 1px solid #ff4e00;
    width: 50%;
}
/* section 1 */
.productos{
    padding: 30px 0;
    row-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}
.producto{
    grid-column: span 2;
}
.producto:hover img{
    border-radius: 0%;
    box-shadow: 0px 0px 10px rgb(128, 127, 127);
}
.producto img{ 
    width: 60%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    transition: ease-in-out 300ms;
    box-shadow: 0px 0px 2px rgb(128, 127, 127);
}
.producto p{
    margin: 10px 0;
    text-align: center;
    color:  #4a4949;
    font-size: 1.2rem;  
}
.producto h2{
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 1.8rem;
    text-align: center;
}
.producto h2 hr{
    border: 1px solid #ff4e00;
    width: 70%;
    margin: 0 auto;
}
.producto h3{
    text-align: center;
    font-family: 'Oleo Script', cursive;
    color: #4a4949;
    font-size: 1.8rem;
    margin-top: 10px;
}
@media screen and (max-width:800px){
    .producto{
        grid-column: span 3;
    }
}
@media screen and (max-width:675px){
    .producto{
        grid-column: span 6;
    }
}